<section class="about" id="about">
    <div class="about-img">
        <img src="../../assets/img/about.jpg" alt="">
    </div>
    <div class="about-text">
        <h3>I´m a developer</h3>
        <h2>I can develop Anything You Want</h2>
        <p>Hello there! I´m a web developer, I´m very passionate and dedicated to my work.
            With 2 years experience as a professional, I have acquired the skills and knowledge 
            necessary to make your project a success. I enjoy evety step of the design process, from
            discussion and collaboration.
        </p>
        <a href="#" class="btn">Hire Me</a>
    </div>

</section>