<section class="sub-service">
    <div class="items">
        <div class="sub-box">
            <div class="sub-img">
                <img src="../../assets/img/target.svg" alt="">
            </div>
            <h3>Pixel Perfect</h3>
            <p>Most commom methods for designing websites that work well on desktop is responsive and adaptive design.</p>
        </div>

        <div class="sub-box">
            <div class="sub-img">
                <img src="../../assets/img/brush.svg" alt="">
            </div>
            <h3>High Quality </h3>
            <p>Most commom methods for designing websites that work well on desktop is responsive and adaptive design.</p>
        </div>

        <div class="sub-box">
            <div class="sub-img">
                <img src="../../assets/img/energy.svg" alt="">
            </div>
            <h3>Awesome Idea</h3>
            <p>Most commom methods for designing websites that work well on desktop is responsive and adaptive design.</p>
        </div>
    </div>
</section>