<section class="home" id="home">
    <div class="home-text">
        <div>
            <h3>Hello, I´m</h3>
            <h1>Paulo Herick</h1>
            <h5>A passionate developer <span>From Fortaleza</span></h5>
            <p>I´m creative full-stack developer based in Fortaleza,CE ib Brazil, and i´m very  <br>passionate and dedicated to  development.</p>
        </div>
        <div class="social">
            <a href="#"><i class="bx bxl-facebook"></i> </a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i> </a>
            <a href="#"><i class="bx bxl-behance"></i> </a>
        </div>
        <a href="#" class="btn">About me</a>
    </div>
    <div class="home-img">
        <img src="../assets/img/main.png" alt="">
    </div>

</section>
